<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>Vocab Quiz</title>
</head>
<body>
  <div class="container" style="width: 767px; height: 600px; background-color: #ededed;">
    <div>
      <nav class="navbar navbar-expand-lg border-body" style="height: 80px;">
        <a class="navbar-brand mx-auto text-dark font-weight-bold" href="/">Programming Vocab Quiz</a>
      </nav>
    </div>
    <div class="container d-flex flex-column align-items-center justify-content-around px-5" style="height: 70%;">
      {% block body %}
      {% endblock %}
    </div>
  </div>
</body>
</html>